
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
  }
  nav .logo {
    display: flex;
    align-items: center;
  }
  nav .logo img {
    height: 80px;
    width: 100%;
    padding: 8px 16px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 100%;
    font-weight: 400;
    padding: 8px 16px;
    line-height: 80px;
  }
  
  nav ul li a:hover {
    background-color: #f5f5f5;
    display: block;
  }

  .logout-button {
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    border: none;
    width: 100%;
    line-height: 80px;
    padding: 8px 16px;
  }

  .logout-button:hover {
    background-color: #f5f5f5;
    display: block;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
  }
  
  .hamburger-active .line:nth-child(2) {
    width: 0px;
  }
  
  .hamburger-active .line:nth-child(1),
  .hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
  }
  
  .hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
  }
  
  .hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
  }
  
  .menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
  }
  .active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .menubar .logo{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menubar .logo a img {
    height: 40px;
    margin-bottom: 30px;
  }

  .menubar ul {
    padding: 0;
    list-style: none;
    width: 100%;
  }
  
  .menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 100%;
    font-weight: 400;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .menubar ul li a:hover {
    background-color: #f5f5f5;
  }
  @media screen and (max-width: 790px) {
    nav .logo img {
        height: 50px;
    }
    .hamburger {
      display: block;
      margin-right: 20px;
    }
    nav ul {
      display: none;
    }
  }

/* dropdown-menu */
  /* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    border: none;
    width: 100%;
    line-height: 80px;
    padding: 8px 16px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    line-height: 80px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }

  .menubar .dropbtn {
    line-height: 80px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #f5f5f5;}


  /* Home page Style */

  .home-content {
    height: 90vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

/* Initial hidden state for the paragraph */
.hidden {
    opacity: 0;
}

/* Animation keyframes for rendering the text letter by letter */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

#animated-text {
    font-size: 1.5em;
    display: inline-block;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    width: 0; /* Initial width for the typing effect */
    opacity: 1;
    animation: typing 5s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 3rem;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 2.5rem;
}

main {
    padding: 1rem;
}

section {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

h1,
h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

.banner {
    display: block;
    width: 100%;
    max-width: 800px;
}

.form-with-validation {
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.form-with-validation div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.form-with-validation input {
    padding: 0.25rem;
    max-width: 300px;
}

.form-submit {
    padding: 0.5rem;
    border-radius: 10px;
    width: 125px;
}

.helptext {
    font-size: 1rem;
    margin-left: 1rem;
}

.helptext ul {
    list-style-type: none;
}

.errorlist {
    color: #F00;
    margin-left: 2rem;
}

.errorlist li::marker {
    content: '🚨 ';
}


.logout {
    display: inline-block;
}

.logout-button {
    font-size: 2.5rem;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.logout-button:hover {
    opacity: .85;
}

.high-contrast {
    background-color: #000;
    color: #fff;
}

.high-contrast a {
    color: #0f0;
}

.high-contrast button {
    background-color: #555;
    color: #fff;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.username {
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content form {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-menu:hover .dropdown-content {
    display: block;
}

.logout-button {
    border: none;
    background: none;
    color: black;
    text-align: left;
    padding: 12px 16px;
    width: 100%;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #f1f1f1;
} */