{% extends 'layout.html' %}
{% load i18n %}

{% block title %}
    {% trans "App List" %}
{% endblock %}

{%block content%}
    <section>
        <div class="app-list-header">
            <h1>{% trans "App List" %}</h1>
            <a href="{% url 'apps:new-app' %}">
                <span role="img" aria-label="New Post" title="New Post">New +</span>
            </a>
        </div>
        <div class="app-list">
            {% for app in apps %}
                <a href="{% url 'apps:page' slug=app.slug %}">
                    <h2>
                        {{ app.name }}
                    </h2>
                    <p><strong>{% trans "APK file:" %}</strong> {{ app.apk_file_path }}</p>
                    <p><strong>{% trans "Created at:" %}</strong> {{ app.created_at }}</p>
                    <p><strong>{% trans "Last updated:" %}</strong> {{ app.updated_at }}</p>
                    
                </a>
            {% endfor %}
        </div>
    </section>
    
{%endblock%}
