{% extends 'layout.html' %}
{% load i18n %}

{% block title %}
    {% trans "User Settings" %}
{% endblock %}

{% block content %}
    
<div class="form-container">
    <h1>{% trans "User Settings" %}</h1>
    <section>
        
            <h2>{% trans "Change Password" %}</h2>
            <form class="form-with-validation" action="{% url 'users:change_password' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="id_old_password">{% trans "Old Password:" %}</label>
                    <input type="password" name="old_password" id="id_old_password" required>
                </div>
                <div>
                    <label for="id_new_password1">{% trans "New Password:" %}</label>
                    <input type="password" name="new_password1" id="id_new_password1" required>
                </div>
                <div>
                    <label for="id_new_password2">{% trans "Re-enter Password:" %}</label>
                    <input type="password" name="new_password2" id="id_new_password2" required>
                </div>
                {% if request.GET.next %}
                    <input type="hidden" name="next" value={{ request.GET.next }} />
                {% endif %}
                <button type="submit" class="button-17">{% trans "Change Password" %}</button>
            </form>
       
    </section>

    <section>
        <!-- Text Size Adjustment -->
        <h2>{% trans "Text Size" %}</h2>
        <button onclick="setFontSize('small')" class="button-17">A-</button>
        <button onclick="setFontSize('medium')" class="button-17">A</button>
        <button onclick="setFontSize('large')" class="button-17">A+</button>
    </section>

    <section>
        <!-- High Contrast Mode -->
        <h2>{% trans "High Contrast Mode" %}</h2>
        <button onclick="toggleContrast()" class="button-17">{% trans "Toggle High Contrast" %}</button>
    </section>

    <section>
        <!-- Delete User Account -->
        <h2>{% trans "Delete Account" %}</h2>
        <form action="{% url 'users:delete_account' %}" method="post" onsubmit="return confirmDelete();">
            {% csrf_token %}
            <button type="submit" class="button-17">{% trans "Delete Account" %}</button>
        </form>
    </section>
 </div>
{% endblock %}