{% extends 'layout.html' %}
{% load i18n %}


{% block title %}
    Home
{% endblock %}

{%block content%}
    <div class="home-content">
        <h1>{% trans "Tradvo Android Tester" %}</h1>
        <p id="animated-text" class="hidden">{% trans "This App is designed and developed by Khaled Ragab, for Tradvo. This App functionalty is to test android applications for page change when a button is clicked, The App is build using Django and Mysql for Back-End and CSS and Javascript for Front-End, the testing functionalty using Appium automated testing" %}</p>
    </div>
{%endblock%}