<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
            {% trans "Django App" %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/user_settings.js' %}" defer></script>
    <script src="{% static "js/navbar.js" %}" defer></script>
    <script src="{% static "js/typing_effect.js" %}" defer></script>
    <script src="{% static "js/slideshow.js" %}" defer></script>
    {% comment %} {% block head%}
    {% endblock %} {% endcomment %}
</head>
<body>
    <nav>
        <div class="navbar">
            {% include 'navbar_list.html' %}
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </nav>
    <div class="menubar">
        {% include 'navbar_list.html' %}
      </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>