<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/user_settings.js' %}" defer></script>
    <script src="{% static "js/navbar.js" %}" defer></script>
    {% comment %} {% block head%}
    {% endblock %} {% endcomment %}
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img src="{% static 'img/Tradvo-logo.svg' %}" aria-label="HOME" title="Home" alt="HOME LOGO"></a>
        </div>
        <ul>
            <li><a href="{% url 'apps:list'%}">
                <span role="img" aria-label="Apps" title="Apps">Apps List</span>
            </a></li>
            {% if user.is_authenticated %}
            <li><div class="user-menu">
                    <span class="username" aria-label="User Menu" title="User Menu">{% trans "Welcome: "%}{{ user.username }}</span>
                    <div class="dropdown-content">
                        <a href="{% url 'users:settings' %}">Settings</a>
                        <form class="logout" action="{% url 'users:logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button class="logout-button" aria-label="User Logout" title="User Logout">Logout</button>
                        </form>
                    </div>
                </div></li>
            {% else %}
            <li><a href="{% url 'users:register' %}">
                    <span role="img" aria-label="User Registration" title="User Registration">Sign Up</span>
                </a></li> 
                <li><a href="{% url 'users:login' %}">
                    <span role="img" aria-label="User Login" title="User Login">Sign In</span>
                </a></li>
            {% endif %}
            <li><ul>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <li>
                        <a href="{% url 'set_language' %}?next={{ request.path }}&language={{ language.code }}">
                            {{ language.name_local }} ({{ language.code }})
                        </a>
                    </li>
                {% endfor %}
            </ul></li>
        </ul> 
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
    </nav>
    <div class="menubar">
        <div class="logo">
            <a href="/"><img src="{% static 'img/Tradvo-logo.svg' %}" aria-label="HOME" title="Home" alt="HOME LOGO"></a>
        </div>
        <ul>
            <li><a href="{% url 'apps:list'%}">
                <span role="img" aria-label="Apps" title="Apps">Apps List</span>
            </a></li>
            {% if user.is_authenticated %}
            <li><div class="user-menu">
                    <span class="username" aria-label="User Menu" title="User Menu">{% trans "Welcome: "%}{{ user.username }}</span>
                    <div class="dropdown-content">
                        <a href="{% url 'users:settings' %}">Settings</a>
                        <form class="logout" action="{% url 'users:logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button class="logout-button" aria-label="User Logout" title="User Logout">Logout</button>
                        </form>
                    </div>
                </div></li>
            {% else %}
            <li><a href="{% url 'users:register' %}">
                    <span role="img" aria-label="User Registration" title="User Registration">Sign Up</span>
                </a></li> 
                <li><a href="{% url 'users:login' %}">
                    <span role="img" aria-label="User Login" title="User Login">Sign In</span>
                </a></li>
            {% endif %}
            <li><ul>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <li>
                        <a href="{% url 'set_language' %}?next={{ request.path }}&language={{ language.code }}">
                            {{ language.name_local }} ({{ language.code }})
                        </a>
                    </li>
                {% endfor %}
            </ul></li>
      </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>